{% load static %}
<!DOCTYPE html>
<html lang="uk">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Password recovery | TattooCRM</title>



    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/forgot_password/forgot_password.css' %}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>



<body>


    
    



<div class="login-box">

    <h3 class="gold-title">TattooCRM</h3>

    <h1 class="title">
        <i class="fa-solid fa-lock lock-icon"></i>
        Welcome Back
    </h1>

    <p>
        Відновіть пароль для подальшого працювання.
    </p>


{% if email %}    

    <p>
        Уведіть пошту та нажміть кнопку.
    </p>

    <form method="POST">
        {% csrf_token %}
        <input
                type="email"
                placeholder="Email"
                name="email">

        <button>

            Надіслати код

        </button>

    </form>
{% endif %}







{% if code %}    

    <p>
        Уведіть код та нажміть кнопку.
    </p>

    <form method="POST">
        {% csrf_token %}
        <input
                type="email"
                placeholder="Code"
                name="email">


        <button>

            Перевірити код

        </button>

    </form>
{% endif %}



{% if password %}    

    <p>
        Уведіть пароль та нажміть кнопку.
    </p>

    <form method="POST">
        {% csrf_token %}


        <div class="password-box">
            <input
                id="password"
                type="password"
                placeholder="New Пароль"
                name="password">
        
            <i class="fa-regular fa-eye toggle-password"></i>
        </div>
        
        <div class="password-box">
            <input
                id="confirmPassword"
                type="password"
                placeholder="Підтвердіть пароль"
                name="password_repeat">
        
            <i class="fa-regular fa-eye toggle-password"></i>
        </div>


        <button>

            Змінити пароль

        </button>

    </form>
{% endif %}





    {% if error %}
        <p class="error-p">{{ error }}</p>
    {% endif %}


    <span>

        Повернутися на головну сторінку

        <a href="/">

            Home

        </a>

    </span>


</div>

<script>

    document.querySelectorAll(".toggle-password").forEach(function(eye){
    
        eye.addEventListener("click", function(){
    
            const input = this.previousElementSibling;
    
            if(input.type === "password"){
    
                input.type = "text";
                this.classList.remove("fa-eye");
                this.classList.add("fa-eye-slash");
    
            }else{
    
                input.type = "password";
                this.classList.remove("fa-eye-slash");
                this.classList.add("fa-eye");
    
            }
    
        });
    
    });
    
    </script>

</body>

</html>