{% load static %}

<!DOCTYPE html>
<html class="wide wow-animation desktop landscape mac rd-navbar-static-linked" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>TattooCRM</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="https://livedemo00.template-help.com/free_2013_responsive_template/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/css_ljOe.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/fonts_ljOe.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/bootstrap_ljOe.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/style_ljOe.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="https://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <div class="preloader loaded">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"> </div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page animated" style="animation-duration: 500ms;">
      <header class="page-head">
        <div class="rd-navbar-wrap" style="height: 149.15px;">
          <nav class="rd-navbar rd-navbar-default rd-navbar-original rd-navbar-static rd-navbar--is-stuck" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="53px" data-xl-stick-up-offset="53px" data-xxl-stick-up-offset="53px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-inner">
              <div class="rd-navbar-aside-wrap">
                <div class="rd-navbar-aside toggle-original-elements">
                  <div class="rd-navbar-aside-toggle toggle-original" data-rd-navbar-toggle=".rd-navbar-aside"><span></span></div>
                  <div class="rd-navbar-aside-content">
                    <ul class="rd-navbar-aside-group list-units">
                      <li>
                        <div class="unit unit-horizontal unit-spacing-xs align-items-center">
                          <div class="unit-left"><span class="novi-icon icon icon-xxs icon-primary material-icons-phone"></span></div>
                          <div class="unit-body"><a class="link-dusty-gray" href="tel:#">+1 (232) 349–8447</a></div>
                        </div>
                      </li>
                      <li>
                        <div class="unit unit-horizontal unit-spacing-xs align-items-center">
                          <div class="unit-left"><span class="novi-icon icon icon-xxs icon-primary fa-envelope-o"></span></div>
                          <div class="unit-body"><a class="link-dusty-gray" href="mailto:#">info@demolink.org</a></div>
                        </div>
                      </li>
                    </ul>
                    <div class="rd-navbar-aside-group">
                      <ul class="list-inline list-inline-reset">
                        <li><a class="novi-icon icon icon-circle icon-nobel-filled icon-xxs-smaller fa fa-facebook" href="#"></a></li>
                        <li><a class="novi-icon icon icon-circle icon-nobel-filled icon-xxs-smaller fa fa-twitter" href="#"></a></li>
                        <li><a class="novi-icon icon icon-circle icon-nobel-filled icon-xxs-smaller fa fa-google-plus" href="#"></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rd-navbar-group">
                <div class="rd-navbar-nav-wrap toggle-original-elements">
                  <div class="rd-navbar-nav-inner">
                    <div class="rd-navbar-btn-wrap"><a class="button button-smaller button-primary-outline" href="/sign-in/">Sign In</a></div>
                    <div class="sign-up"><a class="button button-smaller button-primary-outline" href="/sign-up/">Sign Up</a></div>
                    <ul class="rd-navbar-nav">
                      <li class="active"><a href="#">Home</a>
                      </li>
                      <li><a href="#Contact-button">Contacts</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>

      <section>
        <div class="swiper-container swiper-slider swiper-variant-1 bg-black swiper-container-horizontal" data-loop="false" data-autoplay="5500" data-simulate-touch="true">
          <div class="swiper-wrapper text-center" style="transform: translate3d(-2560px, 0px, 0px); transition-duration: 0ms;">
            <div class="swiper-slide" data-slide-bg="images/home-slider-slide-1.jpg" style="background-image: url(&quot;images/home-slider-slide-1.jpg&quot;); background-size: cover; width: 1280px;">
              <div class="swiper-slide-caption text-center">
                <div class="container">
                  <div class="row justify-content-md-center">
                    <div class="col-md-11 col-lg-10 col-xl-9">
                      <div class="header-decorated not-animated" data-caption-animate="fadeInUp" data-caption-delay="0s">
                        <h3 class="medium text-primary">With Us</h3>
                      </div>
                      <h2 class="slider-header not-animated" data-caption-animate="fadeInUp" data-caption-delay="150">You Are Always One Step Ahead</h2>
                      <p class="text-bigger slider-text not-animated" data-caption-animate="fadeInUp" data-caption-delay="250">Strategies of our attorneys will help you solve very complex legal issues.</p>
                      <div class="button-block not-animated" data-caption-animate="fadeInUp" data-caption-delay="400"><a class="button button-lg button-primary-outline-v2" href="/sign-up/">Почати безкоштовно</a></div>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
            <div class="swiper-slide swiper-slide-prev" data-slide-bg="images/home-slider-slide-2.jpg" style="background-image: url(&quot;images/home-slider-slide-2.jpg&quot;); background-size: cover; width: 1280px;">
              <div class="swiper-slide-caption text-center">
                <div class="container">
                  <div class="row justify-content-md-center">
                    <div class="col-md-11 col-lg-10 col-xl-9">
                      <div class="header-decorated not-animated" data-caption-animate="fadeInUp" data-caption-delay="0s">
                        <h3 class="medium text-primary">We Offer</h3>
                      </div>
                      <h2 class="slider-header not-animated" data-caption-animate="fadeInUp" data-caption-delay="150">Affordable and Effective Legal Help</h2>
                      <p class="text-bigger slider-text not-animated" data-caption-animate="fadeInUp" data-caption-delay="250">Our expert team of attorneys and consultants will be glad to provide necessary legal assistance.</p>
                      <div class="button-block not-animated" data-caption-animate="fadeInUp" data-caption-delay="400"><a class="button button-lg button-primary-outline-v2" href="/sign-up/">Почати безкоштовно</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide swiper-slide-active" data-slide-bg="images/home-slider-slide-3.jpg" style="background-image: url(&quot;images/home-slider-slide-3.jpg&quot;); background-size: cover; width: 1280px;">
              <div class="swiper-slide-caption text-center">
                <div class="container">
                  <div class="row justify-content-md-center">
                    <div class="col-md-12 col-lg-11 col-xl-11">
                      <div class="header-decorated fadeInUp animated" data-caption-animate="fadeInUp" data-caption-delay="0s">
                        <h3 class="medium text-primary">With Our Services</h3>
                      </div>
                      <h2 class="slider-header fadeInUp animated" data-caption-animate="fadeInUp" data-caption-delay="150">Ви отримаєте все необхідне для ефективного керування тату-бізнесом</h2>
                      <p class="text-bigger slider-text fadeInUp animated" data-caption-animate="fadeInUp" data-caption-delay="250">TattooCRM створена спеціально для тату-майстрів і студій. Керуйте записами, клієнтами, фінансами та аналітикою в одному місці — швидко, зручно та без зайвих турбот.</p>
                      <div class="button-block fadeInUp animated" data-caption-animate="fadeInUp" data-caption-delay="400"><a class="button button-lg button-primary-outline-v2" href="/sign-up/">Почати безкоштовно</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-scrollbar d-lg-none"><div class="swiper-scrollbar-drag" style="transform: translate3d(0px, 0px, 0px); width: 0px; transition-duration: 0ms;"></div></div>
          <div class="swiper-nav-wrap">

            <div class="swiper-button-next swiper-button-disabled"></div>
          </div>
        </div>
      </section>

      <section class="section-60 section-md-50 section-lg-100">

      </section>

      <section class="bg-displaced-wrap">
        <div class="bg-displaced-body">
          <div class="container">
            <div class="inset-xl-left-70 inset-xl-right-70">
              <article class="box-cart bg-ebony-clay">
                <div class="box-cart-image"><img src="{% static 'img/main/worktattoo.jpg' %}" alt="" width="342" height="338">
                </div>
                <div class="box-cart-body">
                  <blockquote class="blockquote-complex blockquote-complex-inverse">
                    <h3>About Us</h3>
                    <p>
                      <q>Ми віримо, що кожен тату-майстер має витрачати час на творчість, а не на паперову роботу. Саме тому TattooCRM допомагає легко керувати записами, клієнтами, фінансами та статистикою в одному зручному місці.</q>
                    </p>
                    <div class="quote-footer">
                      <cite>Команда TattooCRM</cite>
                    </div>
                  </blockquote>
                  <div class="button-wrap inset-md-left-70"><a class="button button-responsive button-medium button-primary-outline-v2" href="/sign-up/">Почати безкоштовно</a></div>
                </div>
              </article>
            </div>
          </div>
        </div>
        <div class="bg-displaced bg-image" style="background-image: url(images/home-1.jpg);"></div>
      </section>

      <section class="section-60 section-lg-100">
        <div class="container">
          <div class="row row-40 align-items-sm-end">
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="thumbnail-variant-2-wrap">
                <div class="thumbnail thumbnail-variant-2">
                  <figure class="thumbnail-image"><img src="{% static 'img/main/girl.png' %}" alt="" width="246" height="300">
                  </figure>
                  <div class="thumbnail-inner">
                    <div class="link-group"><span class="novi-icon icon icon-xxs icon-primary material-icons-local_phone"></span><a class="link-white" href="tel:#">+38 066 564 31 28</a></div>
                    <div class="link-group"><span class="novi-icon icon icon-xxs icon-primary fa-envelope-o"></span><a class="link-white" href="mailto:#">karina_tattoo@dgmail.com</a></div>
                  </div>
                  <div class="thumbnail-caption">
                    <p class="text-header"><a href="#">Karina Klimenko</a></p>
                    <div class="divider divider-md bg-teak"></div>
                    <p class="text-caption">Tattoo master</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="thumbnail-variant-2-wrap">
                <div class="thumbnail thumbnail-variant-2">
                  <figure class="thumbnail-image"><img src="{% static 'img/main/man.png' %}" alt="" width="246" height="300">
                  </figure>
                  <div class="thumbnail-inner">
                    <div class="link-group"><span class="novi-icon icon icon-xxs icon-primary material-icons-local_phone"></span><a class="link-white" href="tel:#">+38 066 564 31 69</a></div>
                    <div class="link-group"><span class="novi-icon icon icon-xxs icon-primary fa-envelope-o"></span><a class="link-white" href="mailto:#">taras_tattoo@gmail.com</a></div>
                  </div>
                  <div class="thumbnail-caption">
                    <p class="text-header"><a href="#">Taras Klimenko</a></p>
                    <div class="divider divider-md bg-teak"></div>
                    <p class="text-caption">Tattoo master</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-12 col-lg-3 text-center">
              <div class="block-wrap-1">
                <div class="block-number">99</div>
                <h3 class="text-normal">Experts</h3>
                <p class="h5 h5-smaller text-style-4">in Their Fields</p>
                <p>Якщо ви давно мрієте про татуювання, наші досвідчені майстри допоможуть втілити вашу ідею в життя якісно, безпечно та професійно..</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section parallax-container bg-black" data-parallax-img="images/progress-bars-parallax-1.jpg"><div class="material-parallax parallax"><img src="{% static 'img/main/black.png' %}" alt="" style="display: block;"></div>
        <div class="parallax-content">
          <div class="section-50 section-md-90">
            <div class="container">
              <div class="row row-40">
                <div class="col-sm-6 col-md-7">
                  <div class="box-counter box-counter-inverse"><span class="icon icon-lg icon-primary fa-solid fa-users"></span>
                    <div class="text-large counter">145</div>
                    <p class="box-header">Happy Clients</p>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="box-counter box-counter-inverse"><span class="icon icon-lg-smaller icon-primary fa-solid fa-award"></span>
                    <div class="text-large counter">12</div>
                    <p class="box-header">Years of Experience</p>
                  </div>
                </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>




      <section class="section-50 section-md-75 section-xl-100">

      </section>

      <footer class="page-foot bg-ebony-clay">
        <div class="section-40 section-md-75">
          <div class="container">
            <div class="row justify-content-sm-center">
              <div class="col-sm-9 col-md-11 col-xl-12">
                <div class="row row-50">
                  <div class="col-md-6 col-lg-10 col-xl-3">
                    <div class="inset-xl-right-20" style="max-width: 510px;">
                      <p>
                        Якщо ви тату-майстер або власник тату-студії, TattooCRM допоможе вам легко керувати записами, клієнтами та фінансами. Почніть користуватися сервісом вже сьогодні та зробіть свій бізнес ще ефективнішим.
                      </p>
                    </div>
                  </div>

                  <div class="col-md-6 col-lg-4 col-xl-3">
                    <p class="h7">Quick links</p>
                    <div class="row" style="max-width: 270px;">
                      <div class="col-6">
                        <ul class="list-marked-variant-2">
                          <li><a href="#">Home</a></li>
                        </ul>
                      </div>
                      <div class="col-6">
                        <ul class="list-marked-variant-2">
                            
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div id="Contact-button" class="col-md-6 col-lg-4 col-xl-3">
                    <p class="h7">Contact us</p>
                    <address class="contact-info text-left">
                      <div class="unit unit-horizontal unit-spacing-md align-items-center">
                        <div class="unit-left"><span class="novi-icon icon icon-xs icon-storm-gray material-icons-phone"></span></div>
                        <div class="unit-body"><a class="link-white" href="tel:#">+380 99 542 31 28</a></div>
                      </div>
                      <div class="unit unit-horizontal unit-spacing-md align-items-center">
                        <div class="unit-left"><span class="novi-icon icon icon-xs icon-storm-gray fa fa-envelope-o"></span></div>
                        <div class="unit-body"><a class="link-white" href="mailto:#">TattooCRM@gmail.com</a></div>
                      </div>
                      <div class="unit unit-horizontal unit-spacing-md">
                        <div class="unit-left"><span class="novi-icon icon icon-xs icon-storm-gray material-icons-place"></span></div>
                        <div class="unit-body"><a class="link-white d-inline" href="#">17500 Chernihiv obl.<br>Pryluky</a></div>
                      </div>
                    </address>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <hr>
        </div>
      </footer>

    </div>
    <div class="snackbars" id="form-output-global"></div>

	
	<!--LIVEDEMO_00 -->

	<script type="text/javascript">
	 var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-7078796-5']);
	  _gaq.push(['_trackPageview']);
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();</script>
	
