{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Sign Up | TattooCRM</title>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

<link rel="stylesheet" href="{% static 'css/sign_up/sign_up.css' %}">
    <link rel="stylesheet" href="{% static 'css/sign_up/sign_up.css' %}">
</head>

<body>

<div class="signup-box">

    <h3 class="gold-title">TattooCRM</h3>

    <h1>Create Your Account</h1>

    <p>
        Приєднуйтесь до професійної CRM для
        тату-майстрів та студій.
    </p>

    <form method="POST" id="signup-form">

        {% csrf_token %}
        <input type="text" placeholder="Ім'я" name="name">

        <input type="email" placeholder="Email" name="email">

        <div class="password-box">
            <input
                id="password"
                type="password"
                placeholder="Пароль"
                name="password">
        
            <i class="fa-regular fa-eye toggle-password"></i>
        </div>
        
        <div class="password-box">
            <input
                id="confirmPassword"
                type="password"
                placeholder="Підтвердіть пароль"
                name="password_repeat">
        
            <i class="fa-regular fa-eye toggle-password"></i>
        </div>

        <label class="checkbox">
            <input type="checkbox">
            Я погоджуюсь з умовами використання
        </label>
        {% if error %}
            <p class="error-p">{{ error }}</p>
        {% endif %}

        <p id="password-error" class="error-p"></p>

        <button>
            Створити акаунт
        </button>

    </form>

    <span>
        Вже є акаунт?
        <a href="/sign-in/">Увійти</a>
    </span>
    <span>

        Повернутися на головну сторінку

        <a href="/">

            Home

        </a>

    </span>


</div>


<script>

    document.querySelectorAll(".toggle-password").forEach(function(eye){
    
        eye.addEventListener("click", function(){
    
            const input = this.previousElementSibling;
    
            if(input.type === "password"){
    
                input.type = "text";
                this.classList.remove("fa-eye");
                this.classList.add("fa-eye-slash");
    
            }else{
    
                input.type = "password";
                this.classList.remove("fa-eye-slash");
                this.classList.add("fa-eye");
    
            }
    
        });
    
    });
    
    const form = document.getElementById("signup-form");

    form.addEventListener("submit", function(e){

        const password = document.getElementById("password").value;
        const passwordRepeat = document.getElementById("confirmPassword").value;

        const error = document.getElementById("password-error");

        error.textContent = "";

        if(password.length < 8){
            e.preventDefault();
            error.textContent = "Пароль повинен містити мінімум 8 символів.";
            return;
        }

        if(!/[A-Z]/.test(password)){
            e.preventDefault();
            error.textContent = "Пароль повинен містити хоча б одну велику літеру.";
            return;
        }

        if(!/[a-z]/.test(password)){
            e.preventDefault();
            error.textContent = "Пароль повинен містити хоча б одну маленьку літеру.";
            return;
        }

        if(!/[0-9]/.test(password)){
            e.preventDefault();
            error.textContent = "Пароль повинен містити хоча б одну цифру.";
            return;
        }

        if(password !== passwordRepeat){
            e.preventDefault();
            error.textContent = "Паролі не співпадають.";
            return;
        }

    });


    </script>

</body>
</html>