{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Sign Up Code| TattooCRM</title>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

<link rel="stylesheet" href="{% static 'css/sign_up_code/sign_up_code.css' %}">

</head>

<body>

<div class="signup-box">

    <h3 class="gold-title">TattooCRM</h3>

    <h1>Create Your Account</h1>

    <p>
        Приєднуйтесь до професійної CRM для
        тату-майстрів та студій.
    </p>

    <form method="POST">

        {% csrf_token %}
        <input type="text" placeholder="Код" name="code">


        {% if error %}
        <div class="error-box">
        
            <p class="error-p">
                {{ error }}
            </p>
        
            <a href="/sign-up/" class="error-btn">
                Повернутись до реєстрації
            </a>
        
        </div>
        {% endif %}

        <button>
            Створити акаунт
        </button>

    </form>

    <span>
        Вже є акаунт?
        <a href="/sign-in/">Увійти</a>
    </span>
    <span>

        Повернутися на головну сторінку

        <a href="/">

            Home

        </a>

    </span>


</div>


<script>

    document.querySelectorAll(".toggle-password").forEach(function(eye){
    
        eye.addEventListener("click", function(){
    
            const input = this.previousElementSibling;
    
            if(input.type === "password"){
    
                input.type = "text";
                this.classList.remove("fa-eye");
                this.classList.add("fa-eye-slash");
    
            }else{
    
                input.type = "password";
                this.classList.remove("fa-eye-slash");
                this.classList.add("fa-eye");
    
            }
    
        });
    
    });
    
    </script>

</body>
</html>